  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


:root{
    --background: black;
    --headerfooter: rgb(56, 77, 250); 
    --text: rgb(223, 223, 255);
}


* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Open Sans', 'Times New Roman'; 
    scroll-behavior:smooth;
    overflow-anchor: none;
    
}

body{
    background-color: var(--background); 
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
   
}


        /*************
            NAV BAR 
        **************/
        
.topnav{
    height: 90px; 
    width: 100%; 
    top:0;
    left: 0;
    background-color: var(--headerfooter); 
    position: fixed;
    overflow: hidden;
    z-index: 3;
    flex-wrap: wrap;
    
    background: linear-gradient(to bottom, rgba(35, 47, 157, 0.5) 0%, rgba(0,0,0,0) 100%);

}

.socials{
    position: inline;
    z-index: 3;
    color: white;
    background: transparent;
    font-size: 35px !important;
    translate: 0 -10%;
    padding-left: 1% !important;
    padding-right: 1% !important;
    overflow: hidden;

}

.socials:hover{
    transition: all 0.4s ease-in-out;
    color: var(--headerfooter);
}

.topnav a{
    opacity: 1 !important;
    color: var(--text);
    float: right; 
    text-align: center; 
    padding: 14px 16px; 
    font-size: 18px;
    padding: 22px;
    text-decoration: none; 
    font-weight: 300;
    overflow: hidden;
}


.topnav a:hover{
    text-decoration: underline 4px var(--headerfooter);
    transition: all 0.2s ease-in-out;
}



.logo{
    float: left;
    position: absolute;
    width: 250px;
    translate: 0 -20%;
    margin-left: 35px;
    font-weight: 600;
    font-size: 35px;
    padding: 15px;
    opacity: 1 !important;
    min-width: 250px;


}

        /*************
            HERO 
        **************/

.hero-image{
    width:320px;
    height: auto;
    position: inline-flex;
    margin-bottom: 100px;
    margin-left: 90px;
    border-radius: 50%;
    box-shadow: 0 0 70px var(--headerfooter);
    animation: glowing 3s infinite alternate ease-in-out;
    
}

@keyframes glowing{
    from {
        box-shadow: 0 0 70px var(--headerfooter);
    }
    to {
        box-shadow: 0 0 200px var(--headerfooter);
    }
    
}

.hero {
    position: relative;
    display: flex; 
    align-items: center; 
    height: 800px; 
    width: auto;
    min-width: 800px; 
    margin-left: 20vh;
}

.hero-text{
    position: relative;
    z-index: 1;
}

.subtitle{
    padding-top: 80px;
    font-size: 35px;
    font-weight: 300;

}

.heading{
    font-weight: 500;
    text-decoration: underline var(--headerfooter);
}

.typewriter{
    z-index: 1;
    color: var(--text);
    font-size: 55px;
    
}

/* TYPEWRITER EFFECT */ 
.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--text); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    opacity: 0;
    animation:  
      typing 2.7s steps(40, end),
      blink-caret .75s step-end infinite;
    animation-delay: 1.7s;
  }
  

  /* The typing effect */
  @keyframes typing {
    from { opacity: 1; width: 0 }
    to { opacity: 1; width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { opacity: 1; border-color: transparent }
    50% { opacity: 1; border-color: var(--headerfooter); }
  }


.signature{
    position: absolute;
    width: 600px;
    padding-left: 90px;
    padding-bottom: 150px;
}

        /*************
            BIO 
        **************/

.about-me{
    width: 100%;
    height: 500px;
    background-color:#060920;
    display: inline-flex;   
    justify-content: center;
    overflow: hidden;
}

.bio {
    width: 600px;
    line-height: 40px;
    height: 80%;
    padding: 5%;
    padding-top: 130px;
    min-width: 600px;
}   

.bio-image img{
    height: 400px;
    width: auto;
    padding-top: 100px;
}

.bio p{
    color: var(--whiteaccent);
    letter-spacing: 1px;
    text-align: left;
    color: var(--text);
}

        /*************
            SKILLS 
        **************/

.skills{
    width: 100%;
    height: 200px;
    display: inline-flex;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(56,77,250,1) 100%);
}

.colored{
    background-image: linear-gradient(45deg, #210098, #3400ef, #572dff, #7768ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
            background-clip: text; 
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
         background-clip: text; 
    -moz-text-fill-color: transparent;

}

.skill-text {
    margin: 0;
    width: 50%;
    height: auto;
    font-size: 45px;
    margin-left: 60px;
    margin-top: 30px;
    font-weight: 600;
    min-width: 600px !important;
    overflow:hidden;
}

.skill-icons{
    width: 50%;
    height: auto;
}

.skill-icons i{
    font-size: 80px;
    padding: 12px;
    margin-top: 40px;
}

.skill-icons i:nth-child(1){
    padding-left: 60px;
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);

    /* Same gradient as text */ 
    background-image: linear-gradient(45deg, #210098, #3400ef, #572dff, #7768ff);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
            background-clip: text; 
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
            background-clip: text; 
    -moz-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
    }
  

        /*************
            FOOTER 
        **************/

.footer{
    background-color:  rgba(35, 47, 157, 0.5);
    width: 100%;
    height: 50px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    color:rgb(105, 105, 120);
    font-size: 12px;
    overflow:hidden;
}

        /*************
            RESUME
        **************/

.resume{
    width: 100%; 
    height: 400px;
    font-size: 20px;
    display: inline-block;
    background-color:rgb(21, 13, 80);

}

.resume-photo img{
    width: 400px;
    margin-left: 900px;
    padding-top: 55px;
}

.resume-links a{
    color: var(--text);
    text-decoration: none;
    border: 2px solid var(--text);
    padding: 15px;
    position: absolute;
    width: 250px;
    text-align: center;
 
}

.tech-resume {
    position: absolute;
    padding-left: 300px;
    padding-top: 125px;
}

.music-resume {
    position: absolute; 
    padding-left: 300px;
    padding-top: 225px;

}

.download p{
    color: var(--text);
    position: absolute;
    font-size: 50px;
    padding-left: 250px;
    padding-top: 110px;
}

.download-2 p{
    color: var(--text);
    position: absolute;
    font-size: 50px;
    padding-left: 250px;
    padding-top: 210px;
}

.music-resume a:hover{
    transition: all 0.3s ease-in-out;
    color: var(--headerfooter);
    border-color:var(--headerfooter);
}

.tech-resume a:hover{
    transition: all 0.3s ease-in-out;
    color:var(--headerfooter);
    border-color:var(--headerfooter);

}

